/* GLOBAL STARTS*/
body{
	width: 100%;
	margin: 0 auto;
	font: 16px sans-serif;
	background-color: #eee;
}

header {
	width: 80%;
	margin: 4px auto;
	text-align: center;
	border: 2px solid #555;
	border-radius: 12px;
	color: #efe;
	background-color: #555;
	text-shadow: 2px 2px 0.5px #222;
}

h3{
	background-color: #aaa;
	border-left: 30px solid #000;
	margin: 0 auto;
	padding: 6px 3px;
}

footer {
	width: 50%;
	margin: 4px auto;
	background-color: #555;
	border: 2px solid #555;
	border-radius: 12px;
	color: #efe;
	clear: right;
}

footer img{
	width: 6%;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 2%;
	float: left;
}

footer a {
	text-decoration: none;
}

/* GLOBAL ENDS */

/* CLASS//ID STARTS */
.content-box{
	width: 50%;
	margin: 0 auto;
	background-color: #ccc;
 	border: 3px solid #ccc;
 	border-radius: 12px;
	margin-bottom: 12px;
	line-height: 1.3em;
	overflow: auto;
}

.content-box ul{
	list-style: none;
	display: none;
}

.content-box p{
	text-align: center;
	display: none;
}

.footerp {
	text-align: center;
	font-size: 18px;
}

.clearfix {
	clear: left;
}

.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}
/* CLASS/ID ENDS */